h2 {
    text-align: center;
}

.cards {
    margin: auto;
}
mat-form-field {
    width: calc(100% - 40px);
}
mat-card {
    background-color: whitesmoke;
}
.employee {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px;
    button {
        margin: 15px;
        transform: scale(1.3);
    }
}
.hours {
    margin-top: 30px;
}
.hours {
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hours-input {
    max-width: 75px;
    margin-left: 15px;
    padding: 5px;
    text-align: center;
}
.total-cell {
    text-align: center;
}
.submit {
    width: 75px;
    margin-left: auto;
    margin-top: 15px;
}